<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de produtos</title>
		</head>
	<body>

		<h1>Adicionar produto</h1>

		<form>

            <div>
            <label>Nome</label>
            <input type="text" name="username">
            </div>

            <div>
            <label>Quantidade</label>
            <input type="number" name="quantidade">
            </div>

            <input type="submit" name="cadastrar" value="Cadastrar">

    </form>

	</body>
</html>
